@{
    var adm = (Ravioli.DAL.Concreto.AdmControleHomeDal)ViewBag.Estatistica;
}
<div class="col-md-4">
    <b>Item: Visitas do Site</b>
    <label>@adm.NmVisitas</label>
    <span>Visitas no Site</span>
</div>
<div class="col-md-4">
    <b>Item: Visitas do Site</b>
    <label>@adm.NmReservas</label>
    <span>Reservas Feitas</span>
</div>
<div class="col-md-4">
    <b>Item: Visitas do Site</b>
    <label>@adm.NmComentario</label>
    <span>Comentários no Blog</span>
</div>
<div class="col-md-4">
    <b>Item: Visitas do Site</b>
    <label>@adm.NmCardapio</label>
    <span>Itens no Cardápio</span>
</div>
